/*.button{
    position: absolute;
    top: 200px;
    left: 170px;
}*/

.ion-text-left{
    position: absolute;
    left: 100px;
}

/*.sign {
    position: absolute;
    top: 300px;
    left: 145px;
}*/